:root {
    --primary-color: #87c038;
    --secondary-color: #e62012;
    --background-color: #cecbcb;
    --text-color: #333;
    --font-family: 'Helvetica Neue', Arial, sans-serif;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;   
    font-family: var(--font-family);
}
.main-info{
    display:flex;
    justify-content:center;
    align-items:center;
}
.siren-text{
    margin-top:20px;
}
h1 {
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-size: 2.5em;
}

#siren-image {
    display: inline;
    width: 90px;
    height: 90px;
}

#record {
  width: 200px;             /* make it big */
  height: 200px;            /* same as width → circle */
  border-radius: 50%;       /* perfect round */
  background: green;          /* base color */
  color: white;             /* text color */
  font-size: 20px;          /* larger text */
  font-weight: bold;
  border: none;             /* no default border */
  cursor: pointer;          /* hand on hover */
  box-shadow: 0 10px 20px rgba(0,0,0,0.5), 
              inset 0 -5px 10px rgba(0,0,0,0.4); /* outer + inner shadow */
  transition: transform 0.1s ease;
}

#record:active {
  transform: scale(0.95);   /* press down effect */
}

.record-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 16px;
}
